@font-face {
  font-family: Inter;
  src: url("/public/assets/fonts/Poppins.ttf") format("opentype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .rounded-4xl {
    border-radius: 32px;
  }
  .ml-76 {
    margin-left: 19rem;
  }
  .ml-66 {
    margin-left: 17rem;
  }
  .border-12 {
    border-width: 12px;
  }
  .top-18 {
    top: 4.5rem;
  }
  .shadow-details {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

::-webkit-scrollbar {
  background-color: #a19999;
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: #fff2;
  border-radius: 100px;
  border: 1px solid #fff5;
  &:hover {
    pointer: cursor;
    background-color: #fff5;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}